.contaienr {
  display: flex;
  gap: 8px;
  margin: 8px;
}

.sortableContainer {
  padding: 10px;
  border: 4px solid red;
}
.sortableContainer-title {
  font-size: 20px;
}
.sortableContainer-block {
  display: grid;
  gap: 4px;
  padding: 10px;
  border: 4px solid blue;
}

.item {
  display: flex;
  padding: 10px;
  border: 4px solid green;
  background-color: #fff;
}
